@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 25px auto;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.btn{
    display: inline-block;
    padding: .9rem 1.5rem;
    background: red;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: var(--border);
}

a{
    text-decoration: none;
    color: #000;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
}

.home{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}
.home .heading{
    font-size: 30px;
}
.home .heading p{
    font-size: 18px;
}
img{
    width: 100%;
}